.tile {
  position: absolute;
  width: 115px;
  height: 115px;
  line-height: 115px;
  float: left;
  border-radius: 22px;
  background: #2f3146;
  box-shadow: 0 0 30px 10px rgb(243 215 116 / 0%),
    inset 0 0 0 1px rgb(255 255 255 / 0%);
  transition: 100ms ease-in-out;
  transition-property: transform;
  font-family: "Exo 2";
}
.small-tile {
  width: 76px;
  height: 76px;
  line-height: 76px;
  cursor: pointer;
}

.tileInner {
  border-radius: 22px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 45px;
}
.smallTileInner {
  border-radius: 1px;
  z-index: 10;
  font-size: 30px;
}
.staticTileInner {
  padding: 3px;
  font-size: 42px;
}

.new {
  animation: appear 300ms ease 100ms;
  animation-fill-mode: backwards;
}

.merged {
  animation: grow 200ms ease 100ms;
  animation-fill-mode: backwards;
}

.tile-2 {
  .tileInner {
    color: white;
    background: #424563;
  }
}
.tile-4 {
  .tileInner {
    color: white;
    background: #5d575a;
  }
}
.tile-8 {
  .tileInner {
    color: white;
    background: #e9bd78;
  }
}
.tile-16 {
  .tileInner {
    color: white;
    background: #fcaf84;
  }
}
.tile-32 {
  .tileInner {
    color: white;
    background: #f18e87;
  }
}
.tile-64 {
  .tileInner {
    color: white;
    background: #f16c94;
  }
}
.tile-128 {
  .tileInner {
    color: white;
    background: #f25aac;
    // box-shadow: 0 0 30px 10px rgb(243 215 116 / 24%),
    //   inset 0 0 0 1px rgb(255 255 255 / 14%);
  }
}
.tile-256 {
  .tileInner {
    color: #f9f6f2;
    background: #edcc62;
    box-shadow: 0 0 30px 10px rgb(243 215 116 / 32%),
      inset 0 0 0 1px rgb(255 255 255 / 19%);
  }
}
.tile-512 {
  .tileInner {
    color: white;
    background: #982dca;
  }
}
.tile-1024 {
  .tileInner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgb(243 215 116 / 48%),
      inset 0 0 0 1px rgb(255 255 255 / 29%);
    font-size: 35px;
  }
  .smallTileInner {
    border-radius: 1px;
    z-index: 10;
    font-size: 28px;
  }
}
.tile-2048 {
  .tileInner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgb(243 215 116 / 56%),
      inset 0 0 0 1px rgb(255 255 255 / 33%);
    font-size: 35px;
  }
  .smallTileInner {
    border-radius: 1px;
    z-index: 10;
    font-size: 28px;
  }
}
.tile-4096 {
  .tileInner {
    color: #f9f6f2;
    background: #eec43c;
    box-shadow: 0 0 30px 10px rgb(243 215 116 / 56%),
      inset 0 0 0 1px rgb(255 255 255 / 33%);
    font-size: 35px;
  }
  .smallTileInner {
    border-radius: 1px;
    z-index: 10;
    font-size: 28px;
  }
}
.tile-8192 {
  .tileInner {
    color: #f9f6f2;
    background: #ee9b3c;
    box-shadow: 0 0 30px 10px rgba(243, 173, 116, 0.56),
      inset 0 0 0 1px rgb(255 255 255 / 33%);
    font-size: 35px;
  }
  .smallTileInner {
    border-radius: 1px;
    z-index: 10;
    font-size: 28px;
  }
}
.tile-0000 {
  .tileInner {
    color: #f9f6f2;
    background: #ee4b3c;
    box-shadow: 0 0 30px 10px rgba(243, 116, 116, 0.56),
      inset 0 0 0 1px rgb(255 255 255 / 33%);
    font-size: 35px;
  }
  .smallTileInner {
    border-radius: 1px;
    z-index: 10;
    font-size: 28px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 520px) {
  .tile {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }

  .tileInner {
    font-size: 27px;
  }

  .tile-1024 {
    .tileInner {
      font-size: 21px;
    }
  }

  .tile-2048 {
    .tileInner {
      font-size: 21px;
    }
  }
}

@media (min-width: 1600px) {
  .tile {
    width: 168px;
    height: 168px;
    line-height: 168px;
  }

  .tileInner {
    font-size: 45px;
  }

  .tile-1024 {
    .tileInner {
      font-size: 21px;
    }
  }

  .tile-2048 {
    .tileInner {
      font-size: 21px;
    }
  }
}
